tmux/.tmux/plugins
!tmux/.tmux/plugins/tpm
i3/.config/i3/scripts/monitors1.sh
i3/.config/i3/scripts/monitors2.sh
hyprland/.config/hypr/monitor_setup.conf
hyprland/.config/hypr/nvidia_vars.conf
gtk/.config/gtk-3.0/bookmarks
