[submodule "antidote"]
  path = zsh/.antidote
  url = https://github.com/mattmc3/antidote

[submodule "tpm"]
  path = tmux/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm

[submodule "nvchad-config"]
  path = nvim/.config/nvim
  url = https://github.com/higajooj/nvchad-config

[submodule "alacritty-theme"]
  path = alacritty/.config/alacritty/themes
  url = https://github.com/alacritty/alacritty-theme
