[submodule "antidote"]
  path = zsh/.antidote
  url = https://github.com/mattmc3/antidote
  shallow = true

[submodule "tpm"]
  path = tmux/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
  shallow = true

[submodule "NvChad"]
  path = NvChad/.config/nvim
  url = https://github.com/NvChad/NvChad
  shallow = true

[submodule "nvchad-config"]
  path = nvim/.config/nvim/lua/custom
  url = https://github.com/higajooj/nvchad-config
  shallow = true

[submodule "alacritty-theme"]
  path = alacritty/.config/alacritty/themes
  url = https://github.com/alacritty/alacritty-theme
  shallow = true
