tmux/.tmux/plugins
!tmux/.tmux/plugins/tpm

hyprland/.config/hypr/monitors.lua
hyprland/.config/hypr/custom/*
!hyprland/.config/hypr/custom/*.example

zsh/.zsh_config/*
!zsh/.zsh_config/.zshrc_custom.example
