# vi: set ft=hyprlang :

env = ROFI_WAYLAND_PATH,$HOME/Code/clang/wayland/rofi/build

# nvidia
env = LIBVA_DRIVER_NAME,nvidia
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = GBM_BACKEND,nvidia-drm
env = NVD_BACKEND,direct
