@define-color background	#282a36;
@define-color current-line	#44475a;
@define-color selection	#44475a;
@define-color foreground	#f8f8f2;
@define-color comment	#6272a4;
@define-color cyan	#8be9fd;
@define-color green	#50fa7b;
@define-color orange	#ffb86c;
@define-color pink	#ff79c6;
@define-color purple	#bd93f9;
@define-color red	#ff5555;
@define-color yellow	#f1fa8c;

* {
  font-family: "GeistMono NF";
}

#window,
#clock,
#cpu,
#memory,
#keyboard-state,
#language,
#pulseaudio,
#network,
#battery,
#tray {
  font-weight: bold;
  font-size: 10px;
  margin: 4px 0;
  background-color: @background;
  color: @cyan;
  padding: 0 12px;
  border-radius: 5px;
  opacity: 0.75;
}

#window {
  margin-top: 7px;
  font-weight: normal;
  color: @green;
}

#workspaces button {
  font-size: 9px;
  margin: 4px 1px 0 1px;
  background-color: @background;
  border-radius: 100%;
  padding: 0 5px 0 4px;
  border: none;
}

#workspaces button:hover {
  background: @current-line;
  color: @orange;
}

#workspaces button.empty {
  color: @foreground;
}

#workspaces button {
  color: @cyan;
  transition: color 200ms ease-in-out;
}

#workspaces button.selected {
  color: @orange;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  color: @red;
}

window#waybar {
  background-color: transparent;
  color: @current-line;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#clock {
}

#cpu {
  color: @red;
}

#memory {
  color: @purple;
}

#keyboard-state {
  color: @cyan;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#language {
  color: @green;
}

#pulseaudio {
  color: @cyan;
}

#network {
  color: @purple;
}

#battery {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#tray {
}

/* vim: ft=sass */
