@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: "GeistMono NF";
}

#window,
#clock,
#cpu,
#memory,
#keyboard-state,
#language,
#pulseaudio,
#network,
#battery,
#tray {
  font-weight: bold;
  font-size: 10px;
  margin: 4px 0;
  background-color: @crust;
  color: @text;
  padding: 0 12px;
  border-radius: 5px;
}

#window {
  margin-top: 7px;
  font-weight: normal;
}

#workspaces button {
  font-size: 9px;
  margin: 4px 1px 0 1px;
  background-color: @crust;
  border-radius: 100%;
  padding: 0 5px 0 4px;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: @crust;
  color: @blue;
}

#workspaces button.empty {
  color: #44475a;
}

#workspaces button {
  color: @surface2;
  transition: color 200ms ease-in-out;
}

#workspaces button.selected {
  color: @blue;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

window#waybar {
  background-color: transparent;
  color: @sapphire;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#clock {
}

#cpu {
}

#memory {
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#language {

}

#pulseaudio {
}

#pulseaudio.muted {
  color: @surface2;
}

#network {
  color: @blue;
}

#network.disconnected {
  color: @surface2;
}

#network.ethernet {
}

#battery {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#tray {
}

/* vim: ft=sass */
